article header {
    align-items: flex-end;
}

article header p.basemod-source a {
    color: var(--link-color);
}

article header p.basemod-source a:hover {
    color: var(--link-state-color);
}

article header p.basemod-author {
    margin-left: 0.5em;
    flex-grow: 1;
}
