.troll-tuesday-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0 1em;

    background: var(--bg-color);
    text-align: center;
}

#troll-tuesday-status {
    font-size: 2em;
    font-weight: bold;
}
