.troll-tuesday-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;
    padding: 0 1em;

    text-align: center;
    color: black;
}

#troll-tuesday-status {
    font-size: 2em;
    font-weight: bold;
}
